#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background: linear-gradient(rgb(0, 213, 255), rgb(0, 123, 255), rgb(0, 64, 255));
}
